/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Mulish:wght@400;700&display=swap');

:root {
  font-family: 'Mulish', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode colors */
  --background: #ffffff;
  --text: #000000;
  --text-80: rgba(0, 0, 0, 0.8);
  --text-60: rgba(0, 0, 0, 0.6);
  --text-blue: #008DE4;
  --container-grey: #EFEFEF;
  --container-grey-highlighted: #D2D2D2;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --background: #000000;
    --text: #ffffff;
    --text-80: rgba(255, 255, 255, 0.8);
    --text-60: rgba(255, 255, 255, 0.6);
    --text-blue: #26A0EB;
    --container-grey: #101010;
    --container-grey-highlighted: #2D2D2D;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

a {
  color: var(--text);
  text-decoration: none;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  background: var(--text);
  transition: width 0.3s;
  bottom: 3px;
  left: 0;
}

a:hover::after {
  width: 100%;
}

header>.name {
  font-family: 'Abhaya Libre', serif;
}